---
import Mano1 from "../assets/img/mano1.png"
import Mano2 from "../assets/img/mano2.png"
import '../styles/global.css'
---


<section class="relative flex items-center justify-center min-h-screen bg-black overflow-hidden">

  <img src={Mano1.src} alt="Mano1"
    class="hand hand-top absolute top-[15%]  -translate-x-1/2 w-48 sm:w-100 md:w-100 mr-250" />


  <h1 class="animated-title relative z-10 text-white font-extrabold text-5xl sm:text-6xl md:text-7xl select-none text-center">
    ¿Tienes un proyecto en mente?
  </h1>


  <img src={Mano2.src} alt="Mano2"
    class="hand hand-bottom absolute bottom-[15%] -translate-x-1/2 w-48 sm:w-100 md:w-100 ml-460" />
</section>


<!-- Segundo título aña-->
<section class="flex items-center justify-center min-h-screen bg-black">
  <h1 class="animated-tittle text-white font-extrabold text-5xl sm:text-6xl md:text-7xl select-none">
    Hagámoslo real
  </h1>
</section>



