
<div class="fixed inset-0 flex z-50">

  <div class="door-left bg-white/20 backdrop-blur-md border-r-4 border-yellow-500 flex items-center justify-center w-1/2 h-full shadow-2xl">
    
  </div>

  <div class="door-right bg-white/20 backdrop-blur-md border-l-4 border-yellow-500 flex items-center justify-center w-1/2 h-full shadow-2xl">

  </div>
</div>

<script src="../scripts/puerta.js"></script>