

<nav class="m-3 flex justify-between">

    <ul class="flex gap-6">
        <li><a href="">Home</a></li>
        <li><a href="">Proyectos</a></li>
        <li><a href="">Contacto</a></li>
    </ul>
</nav>