---
import Logo from "./Logo.astro";

---

<nav class="m-3 mr-4 flex justify-between ">

     <Logo/>
    <ul class="flex gap-6 text-2xl">
        <li><a href="">Home</a></li>
        <li><a href="">Proyectos</a></li>
        <li><a href="">Contacto</a></li>
    </ul>
</nav>

<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>

