---
import Logo from "./Logo.astro";

---

<nav class="flex justify-between bg-black text-white ">

     <Logo/>
    <ul class="flex gap-6 text-2xl m-2 mt-3 mb-2 mr-5">
        <li class="menu-item"><a href="">Home</a></li>
        <li class="menu-item"><a href="">Proyectos</a></li>
        <li class="menu-item"><a href="">Contacto</a></li>
    </ul>
</nav>

<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>

